@{
    ViewData["Title"] = "广西汇鸿";
}
@section css{
    <link href="~/css/pace.min.css" rel="stylesheet" />
    <link href="~/css/website.min.css" rel="stylesheet" />
    <script src="https://lib.baomitu.com/vue/2.5.9/vue.min.js"></script>
    <script src="https://lib.baomitu.com/vue-router/3.0.1/vue-router.min.js"></script>
    <script src="https://lib.baomitu.com/vuex/3.0.1/vuex.min.js"></script>
    <script src="https://lib.baomitu.com/axios/0.17.1/axios.min.js"></script>
    <script src="https://lib.baomitu.com/moment.js/2.19.3/moment-with-locales.min.js"></script>
    <script src="https://lib.baomitu.com/fastclick/1.0.6/fastclick.min.js"></script>
}
<div id='app-root'>
    <div class="pace pace-active">
        <div class="pace-progress" data-progress="50" data-progress-text="50%" style="-webkit-transform: translate3d(50%, 0px, 0px); -ms-transform: translate3d(50%, 0px, 0px); transform: translate3d(50%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
