.first-group{
    margin-top: 20px;
}
.col-gray{
    color: gray;
}
.col-gray1 {
    color: #aaaaaa;
}
.col-gray2 {
    color: #b5b5b5;
}
.col-gray3 {
    color: #c9c9c9;
}
.col-light-gray{
    color: lightgray;
}
.col-coral{
    color: lightcoral
}
.col-red{
    color: red;
}
.col-green{
    color: forestgreen;
}
.col-salmon{
    color: lightsalmon
}
.cell-padding{
    padding: 10px 0 10px;
}
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.font16{
    font-size: 16px;
}
.font24{
    font-size: 24px;
}
.font-rem2{
    font-size: .2rem
}
.font-rem4{
    font-size: .4rem
}
.lineheight24{
    line-height: 24px
}
.lineheight28 {
    line-height: 28px
}
.lineheight32 {
    line-height: 324px
}
.popup50{
    width: 50%
}
.popup70{
    width: 70%
}
.mtop10{
    margin-top: 10px;
}
.mtop20 {
    margin-top: 20px;
}
.yd-cell-box{
    margin-bottom: 0px;
}
.input-file {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #ffb400;
    color: #fafafa;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    border-radius: 1px;
    transition: background .3s;
    -webkit-transition: background .3s
}
    /*自定义外框样式*/

    .input-file:hover {
        background-color: #ffb400
    }
    /*鼠标经过样式*/

    .input-file input {
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 100px;
        position: absolute;
        top: 0;
        right: 0
    }