<template>
    <div id='app-root' style="height:100%">
        <yd-layout>
            <yd-navbar slot="navbar" title="NavBar">
                <router-link to="#" slot="left">
                    <yd-navbar-back-icon></yd-navbar-back-icon>
                </router-link>
            </yd-navbar>

            <router-view />

            <yd-tabbar slot="tabbar">
                <yd-tabbar-item title="首页" link="/">
                    <yd-icon name="home" slot="icon" size="0.54rem"></yd-icon>
                </yd-tabbar-item>
                <yd-tabbar-item title="购物车" link="/counter">
                    <yd-icon name="shopcart-outline" slot="icon" size="0.54rem"></yd-icon>
                </yd-tabbar-item>
                <yd-tabbar-item title="个人中心" link="/fetchdata">
                    <yd-icon name="ucenter-outline" slot="icon" size="0.54rem"></yd-icon>
                </yd-tabbar-item>
                <yd-tabbar-item title="图片" link="/ydui">
                    <img slot="icon" src="http://static.ydcss.com/ydui/img/logo.png">
                </yd-tabbar-item>
            </yd-tabbar>
        </yd-layout>
    </div>
</template>

<script src="./app.ts"></script>
