registry=https://tfs.lishewen.com/tfs/DefaultCollection/_packaging/npmcache/npm/registry
always-auth=true
//tfs.lishewen.com/tfs/DefaultCollection/_packaging/npmcache/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ik5GNEp2UHptbnNvb0p3REpxSF9HcXFhbWhLRSJ9.eyJuYW1laWQiOiI4YjEwYzgyNy0yNGRlLTRkMzYtODgzZi01NjQ1OWQwZDg5ZGQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMDE2YzFmNzQtZTJlMy00ODRmLThmNjktNTNlMTZhMWQ3ZTAxIiwic2lkIjoiNmQxYjQ3MDgtODk4NS00Y2FiLWFkZTUtMDljMWZjNTFmNzkxIiwiaXNzIjoidGZzLmxpc2hld2VuLmNvbSIsImF1ZCI6InRmcy5saXNoZXdlbi5jb20iLCJuYmYiOjE0OTkzOTI5NjIsImV4cCI6MTUwNzE2ODk2Mn0.Cup8v697pPqM0lcDAYOpVPDv3zxaG4BfwPQVkFARjWwBb1ncsmpMcRjmej7L4ZcacObz4poDaPC87xNWP0qGa34pUIPmrX0ZBl4HZZdbEaswUmDzZjPBlxbdSBl_S_mxiG1TEhSZ2r2bYUjAZTyRJdQzdQF01G25d8AUTmJIqgJUW0C8aKjnyUnElp4Z4HZ1Zavygt1XE_LgcSmsNdo6cAkeyWZIAbopV4qSJKyxfSaEVdj4K1Cxs_2sxgKhq6JxMBW7nyuXws7AOoelGx79v9guGsrSGOT0uBJQxvi7TC-nesrr9G6LuEj5ifhT4WDUjAeKLdLKQETniyFqkP8-zw